<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700" rel="stylesheet">
    <title>Diary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<script>
function passWord() {
var testV = 1;
var pass1 = prompt('Por favor, ingresa tu contraseña',' ');
while (testV < 3) {
if (!pass1)
history.go(-1);
if (pass1.toLowerCase() == "arequipa") {
alert('Contraseña Correcta!');
window.open('timelines');
break;
}
testV+=1;
var pass1 =
prompt('Contraseña incorrecta, por favor intenta de nuevo','password');
}
if (pass1.toLowerCase()!="password" & testV ==3)
history.go(-1);
return " ";
}
</script>

    <div class="wrapper">
    <%= yield %>
    </div>
  </body>
</html>
