<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700" rel="stylesheet">
    <title>Diary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script type="text/javascript">
      var password = "arequipa";
      var x = prompt("Please, ingresa la contraseña"," ");
        if (x.toLowerCase() == password) {
          window.location = "timelines";
        }
        else {
          window.location = "no_passwords"
        }
    </script>


    <div class="wrapper"
    <%= yield %>
    </div>
  </body>
</html>
